@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Cloud patient booking system is an online platform used for managing booking information related to a private
    radiology and oncology hospital.
</p>


