@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<information>
    Yuxing Ding(32825420)
</information>

<address>
    <strong>Author Email:</strong>   <a href="">ydin0057@student.monash.edu</a><br />
</address>