@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cloud Patient online booking system</h1>
    <p class="lead">You can make a booking with our system</p>
    
    <img src="~/image/linac.jpg" class="img-responsive"/>
    
    
</div>

